@model PaginatedList<RentalKendaraan_084.Models.Pengembalian>

@{ ViewData["Title"] = "Index"; }

<h2>Pegngembalian</h2>

<p>
    <a asp-action="Create">Tambah Data Baru</a>
</p>

@using (Html.BeginForm("Index", "Pengembalians", FormMethod.Get))
{
<p>
    Tanggal Pengembalian: @Html.DropDownList("ktsd", "Pilih tanggal")
    Cari Data : @Html.TextBox("searchString")
    <input type="submit" value="Filter" />
</p>}

<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.TglPengembalian)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Tanggal Pengembalian
                </a>
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Denda)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Denda
                </a>
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.IdKondisiNavigation)*@
                @Html.DisplayName("Kondisi")
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.IdPeminjamanNavigation)*@
                @Html.DisplayName("peminjaman")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TglPengembalian)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Denda)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdKondisiNavigation.NamaKondisi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdPeminjamanNavigation.IdPeminjaman)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.IdPengembalian">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.IdPengembalian">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.IdPengembalian">Delete</a>
    </td>
</tr>}
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "enabled" : ""; }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex -1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex +1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
