@model PaginatedList<RentalKendaraan_084.Models.KondisiKendaraan>

@{ ViewData["Title"] = "Index"; }

<h2>Kondisi Kendaraan</h2>

<p>
    <a asp-action="Create">Tambah Data Baru</a>
</p>

@using (Html.BeginForm("Index", "KondisiKendaraans", FormMethod.Get))
{
<p>
    Ketersediaan: @Html.DropDownList("ktsd", "Pilih kondisi")
    Cari Data : @Html.TextBox("searchString")
    <input type="submit" value="Filter" />
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.NamaKondisi)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Kondisi
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NamaKondisi)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.IdKondisi">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.IdKondisi">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.IdKondisi">Delete</a>
    </td>
</tr>}
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "enabled" : ""; }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex -1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex +1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
