@model PaginatedList<RentalKendaraan_084.Models.Peminjaman>

@{ ViewData["Title"] = "Index"; }

<h2>Peminjaman</h2>

<p>
    <a asp-action="Create">Tambah Data Baru</a>
</p>

@using (Html.BeginForm("Index", "Peminjamen", FormMethod.Get))
{
<p>
    Tipe jaminan: @Html.DropDownList("ktsd", "Pilih Kendaraan")
    Cari Data : @Html.TextBox("searchString")
    <input type="submit" value="Filter" />
</p>}

<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.TglPeminjaman)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tanggal Peminjamaan</a>
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.IdCustomerNavigation.NamaCustomer)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nama Customer</a>
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Biaya)*@
                @Html.DisplayName("Biaya")
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.IdJaminanNavigation.NamaJaminan)*@
                @Html.DisplayName("Jaminan")
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.IdKendaraanNavigation.NamaKendaraan)*@
                @Html.DisplayName("Nama Kendaraan")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TglPeminjamaan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdCustomerNavigation.NamaCustomer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Biaya)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdJaminanNavigation.NamaJaminan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdKendaraanNavigation.NamaKendaraan)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.IdPeminjaman"><i class="fa fa-marker fa-lg"></i></a> |
        <a asp-action="Details" asp-route-id="@item.IdPeminjaman"><i class="fa fa-list fa-lg"></i></a> |
        <a asp-action="Delete" asp-route-id="@item.IdPeminjaman"><i class="fa fa-trash-alt fa-lg"></i></a>
        <!--<a asp-action="Edit" asp-route-id="@item.IdPeminjaman">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.IdPeminjaman">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.IdPeminjaman">Delete</a>-->
    </td>
</tr>}
    </tbody>
</table>
@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "enabled" : ""; }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentfilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentfilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
